@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
H1 {
    color:blue;
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: 600;
    font-stretch: expanded;
}

H2 {
  color:blue;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: 600;
  font-stretch: expanded;
}

H3 {
  color:black;
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 600;
}

li {
  color:black;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 500;
  padding: 2px;
}

a {
  color: blue;
  text-decoration: none;
  font-style: oblique;
  font-stretch: expanded;
}

#splash-text {
  text-align: center;
  max-width: 500px;
  position: relative;
  margin: 10% auto 20%;
  border-style: dashed;
  border-color: bisque;
  border-width: 10px;
  padding: 20px;
  
  
}

#div-1 {
}

#posts-header {
  max-width: 300px;
  position: relative;
  margin: 8% auto 0px;
  text-align: center;
  border-style: dashed;
  border-color: bisque;
  border-width: 10px;
  padding: 10px 8px;
 }


 #posts-container {
   height: 200px;
   max-width: 80%;
   margin: 50px auto 500px;
 }

 #posts-col-1 {
   width: 50%;
   float: left;
   height: 50px;
 }

 #posts-col-2 {
   width: 50%;
   float: right;
   height: 50px;
 }

 ul {
   list-style-type: none;
   text-align: center;

 }


 header {
  height: 100px;
  margin: 40px;
}

#blog-button {
  float: right;
  width: 140px;
  text-align: center;
}

#home-button {
 float: right;
 width: 140px;
 text-align: center;
}

#gs-header {
 float: left;
 width: 400px;
 text-align: center;
}