@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
h1 {
    color:blue;
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    font-weight: 500;
    font-stretch: expanded;
}

h2 {
  color:blue;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: 700;
}
a {
  color: blue;
  text-decoration: none;
  font-style: oblique;
  font-stretch: expanded;
  
}

.div-center {
  text-align: center;
  height: 700px;
}

#splash-text {
  border-style: dashed;
  border-width: 15px;
  border-color: rgb(247, 235, 190);
  display: inline-block;
  max-width: 800px;
  padding: 60px 60px 60px;
  margin-top: 175px;
 
}

#blog-div {
  text-align: center;
  margin-top: 250px;
  height: 700px;
}

.blog-title {
  display: inline-block;
  border-style: dashed;
  border-width: 12px;
  border-color: rgb(247, 235, 190);
  padding: 10px 20px 10px;
}




